
body{
  font-family: sans-serif;
  background-color: #e0e1dd;
  background-attachment: fixed;
  margin: 0%;
}

.princilogo{
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  background-image: url(../img/fondoblur.jpg);
  background-size: cover;
  background-position: center;
}

.navbar{
  background-color: #1b263b;    
}

nav ul li{
  font-size: 1.2rem;
  
}

p{
  color: #555;
  font-size: 1.2rem;
}

.registro-box {
  width: auto;
  height: auto;
  background: transparent;
  color: #000;
  border-radius: 10px;
  padding: 3% 10% 10%;
}

.registro-box label{
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  font-size: 1.2rem;
}
  
.registro-box input{
  width: 100%;
  margin-bottom: 20px;
}
  
.registro-box input[type="texto"]{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  height: 40px;
  font-size: 1.2rem;
}

.registro-box textarea{
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 300px;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin-bottom: 1rem;
  resize: none;
}
  
.registro-box input[type="submit"]{
  margin-top: 2rem;
  border: none;
  outline: none;
  height: 50px;
  width: 150px;
  background: #1b263b;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 30px;
}
  
.registro-box input[type="submit"]:hover{
  cursor: pointer;
  background: #778da9;
}

.registro-box img{
  width: 15rem;
}
.cubo div{
  color: #e0e1dd;
  font-size: 1.2rem;
}
.cubo button{
  color: #e0e1dd;
  font-size: 1.2rem;
  border-color: #fff;
  border-radius: 2rem;
}

.texto{
  height: 10rem;
  padding: 1rem 0;
}

.cubo{
  background-color: #1b263b;
  color: #e0e1dd;
  padding: 2rem;
  border-radius: 2rem;
  width: 30rem;
  min-height: 28rem;
  margin: 1rem;
  
}
.cubo a{
  text-decoration: none;
  color: #e0e1dd;
}
.foto{
  margin-top: 0.5rem;
  width: 10rem;
  border-radius: 5rem;
}
.perfiles{
  padding-bottom: 5rem;
}