
body{
    font-family: sans-serif;
    background-color: #e0e1dd;
    background-attachment: fixed;
    margin: 0%;
}

.princilogo{
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    background-image: url(../img/fondoblur.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    background-color: #1b263b;
    position: sticky;
}

nav ul li{
    font-size: 1.2rem;
    
}

p{
    font-size: 1.2rem;
    color: #555;
}

.col img{
    padding: 50px 50px 50px 50px;
    width: 28rem;
    border-radius: 5rem;
}

.content{
    padding: 3% 0% 10% 0%;
}
.contenedor{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}
.conversor{
    color: white;
    background-color: #1b263b;
    padding-top: 2rem;
    border-radius: 2rem;
    width: 30rem;
}
.conversor select{
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: #1b263b;
    color: #e0e1dd;
    
}

.conversor input {
    border-style: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-align: right;
}

.moneda{
    padding: 0.5rem;
}


.texto{
    padding-top: 1%;
}

.boton{
    display: inline-block;
    background: #1b263b;
    color: #fff;
    padding: 12px 50px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    font-size: 1.2rem;
    text-decoration: none;
    border-color: #fff;
}

.boton:hover{
    background: #374c67;
    color: #fff;
}