
body{
    font-family: sans-serif;
    background-color: #e0e1dd;
    background-attachment: fixed;
    margin: 0%;
}

.princilogo{
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    background-image: url(../img/fondoblur.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    background-color: #1b263b;
    position: sticky;
}

nav ul li{
    font-size: 1.2rem;
    
}

p{
    font-size: 1.2rem;
    color: #555;
}

.col img{
    padding: 50px 50px 50px 50px;
    width: 28rem;
    border-radius: 5rem;
}

.content{
    padding: 3% 0% 10% 0%;
}

