
body{
    font-family: sans-serif;
    background-color: #e0e1dd;
    background-attachment: fixed;
    margin: 0%;
}

.princilogo{
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    background-image: url(../img/fondoblur.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: #1b263b;
    padding: 1% 10%; 
        
}

nav{
    flex-grow: 1;
    justify-content: center;
    display: flex;
}

nav ul{
    padding: 0px 0px 0px 0px;
    
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 1.2rem;
    
}

a{
    text-decoration: none;
    color: #e0e1dd;
}

p{
    color: #555;
    font-size: 1.2rem;
}

.container{
    padding: 0% 10%; 
    margin: auto;
}

.cuerpo{
    display: flex;
    align-items: center;
}

.col img{
    padding: 50px 0px 50px 50px;
}

.col h1{
    font-size: 50px;
    line-height: 60px;
}

.btn{
    display: inline-block;
    background: #1b263b;
    color: #fff;
    padding: 12px 50px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    font-size: 1.2rem;
}

nav :hover{
    color: white;
}

.btn:hover{
    background: #778da9;
}

.slide {
    overflow: hidden;
}

.fondoslide {
    background: url("../img/slide.png") repeat-x;
    height: 560px;
    width: 5076px;
    animation: slide 60s linear infinite;
}

@keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-1692px, 0, 0);
    }
}
