
body{
    font-family: sans-serif;
    background-color: #e0e1dd;
    background-attachment: fixed;
    margin: 0%;
}

.princilogo{
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    background-image: url(../img/fondoblur.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: #1b263b;
    padding: 1% 10%; 
}

nav{
    flex-grow: 1;
    justify-content: center;
    display: flex;
}

nav ul{
    padding: 0px 0px 0px 0px;
    
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 1.2rem;
    
}

a{
    text-decoration: none;
    color: #e0e1dd;
}

p{
    color: #555;
    font-size: 1.2rem;
}

.container{
    padding: 0% 10%; 
    margin: auto;
}

.cuerpo{
    display: flex;
    align-items: center;
}

.col img{
    padding: 50px 50px 50px 50px;
    width: 30rem;
    border-radius: 5rem;
}

.col h1{
    font-size: 50px;
    line-height: 60px;
}

.cuerpo{
    margin-bottom: 70px;
}

